      </div>
    </div>
    <footer class="container-fluid text-center mt-5 p-2">
        <small class="text-muted">Copyright &copy; 2021-2025 OpenPrinting. All rights reserved.</small>
    </footer>
    <script src="/bootstrap/js/jquery.slim.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
